.header {
  margin-top: 60px;
  background-color: var(--fade);
  padding: 0 15px;
  display: flex;
  padding-bottom: 70px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.header-info {
  padding-top: 40px;
  padding-left: 30px;
  width: 50%;
}

.title {
  font-size: 3rem;
  opacity: 0.8;
  line-height: 120%;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.9;
}
.btn-group {
  margin-top: 20px;
}
.btn {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--green);
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--blueWhite);
  font-weight: 400;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--blue) !important;
  opacity: 0.8;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  cursor: pointer;
}
.btn-primary:hover {
  opacity: 1;
}
.btn-main:hover {
  opacity: 0.7;
}

.header-img {
  padding-top: 40px;
  width: 50%;
}
.header-img > img {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    padding: 0;
    padding-bottom: 30px;
  }
  .header-info,
  .header-img {
    width: 100%;
    padding: 0px;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }
  .btn-group {
    width: 70%;
    margin: 20px auto;
  }
}

@media (max-width: 992px) {
}
